
<nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top scrolled shadow-sm" tabindex="0">
  <div class="container">
    <a class="navbar-brand pe-4 fs-4" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-nintendo-switch" viewBox="0 0 16 16">
        <path d="M9.34 8.005c0-4.38.01-7.972.023-7.982C9.373.01 10.036 0 10.831 0c1.153 0 1.51.01 1.743.05 1.73.298 3.045 1.6 3.373 3.326.046.242.053.809.053 4.61 0 4.06.005 4.537-.123 4.976-.022.076-.048.15-.08.242a4.14 4.14 0 0 1-3.426 2.767c-.317.033-2.889.046-2.978.013-.05-.02-.053-.752-.053-7.979m4.675.269a1.62 1.62 0 0 0-1.113-1.034 1.61 1.61 0 0 0-1.938 1.073 1.9 1.9 0 0 0-.014.935 1.63 1.63 0 0 0 1.952 1.107c.51-.136.908-.504 1.11-1.028.11-.285.113-.742.003-1.053M3.71 3.317c-.208.04-.526.199-.695.348-.348.301-.52.729-.494 1.232.013.262.03.332.136.544.155.321.39.556.712.715.222.11.278.123.567.133.261.01.354 0 .53-.06.719-.242 1.153-.94 1.03-1.656-.142-.852-.95-1.422-1.786-1.256"/>
        <path d="M3.425.053a4.14 4.14 0 0 0-3.28 3.015C0 3.628-.01 3.956.005 8.3c.01 3.99.014 4.082.08 4.39.368 1.66 1.548 2.844 3.224 3.235.22.05.497.06 2.29.07 1.856.012 2.048.009 2.097-.04.05-.05.053-.69.053-7.94 0-5.374-.01-7.906-.033-7.952-.033-.06-.09-.063-2.03-.06-1.578.004-2.052.014-2.26.05Zm3 14.665-1.35-.016c-1.242-.013-1.375-.02-1.623-.083a2.81 2.81 0 0 1-2.08-2.167c-.074-.335-.074-8.579-.004-8.907a2.85 2.85 0 0 1 1.716-2.05c.438-.176.64-.196 2.058-.2l1.282-.003v13.426Z"/>
      </svg>
      <span class="ms-1 fw-bolder">Sylvian</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#services" aria-label="Brings you to the frontpage">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">
            About us
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#gallery">
            Gallery
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">
            Testimonials
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<main>
  <div class="w-100 overflow-hidden bg-gray-100" id="top">

    <div class="container position-relative">
      <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left"
        style="background-image: url(assets/img/kartina2.jpg);">

      </div>
      <div class="row">

        <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
          <h1 class="display-1 fw-bold mt-5">Browse This Month's Featured Collections</h1>
          <p class="lead">Expertly curated roundups of the best contemporary art & design</p>
          <a  class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5" routerLink="/form" routerLinkActive="active">Join Sylvian now</a>
        </div>



      </div>
    </div>

  </div>

  <div class="py-vh-5 w-100 overflow-hidden" id="services">
    <div class="container">
      <div class="row d-flex justify-content-end">
        <div class="col-lg-8" data-aos="fade-down">
          <h2 class="display-6">Here are three main rules of our company. There are actually more than three, but we
            think three is a quite enough for now.</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <span class="h5 fw-lighter">01.</span>
          <h3 class="py-5 border-top border-dark">All artworks showcased and sold through our gallery are original creations by the submitting artists, 
            ensuring the integrity and uniqueness of our collection.</h3>
          <p> Never gonna give you up.
            Never gonna let you down.</p>

        </div>

        <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
          <span class="h5 fw-lighter">02.</span>
          <h3 class="py-5 border-top border-dark">Our platform fosters a respectful and supportive community. Any form of offensive language, hate speech, or harassment is strictly prohibited. 
            Violations result in immediate suspension of access to our gallery.</h3>
          <p> Never gonna run around and desert you.
            Never gonna make you cry.</p>
          
        </div>

        <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
          <span class="h5 fw-lighter">03.</span>
          <h3 class="py-5 border-top border-dark">We are committed to providing high-quality displays of all artworks.  
            Physical copies of the artworks are also available for sale, maintaining the highest standards in print quality.</h3>
          <p>Never gonna say goodbye.
            Never gonna tell a lie and hurt you.</p>
         
        </div>
      </div>

    </div>
  </div>

  <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="aboutus">
    <div class="container">

      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-6">
          <div class="row gx-5 d-flex">
            <div class="col-md-11">
              <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right"
                style="background-image: url(assets/img/londonstreets.jpg);--bs-aspect-ratio: 50%;">
              </div>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up"
                style="background-image: url(assets/img/colorful.jpg);">
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left"
                style="background-image: url(assets/img/whiteroomvisokii.jpg);--bs-aspect-ratio: 150%;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h3 class="py-5 border-top border-dark" data-aos="fade-left">We did some interesting stuff in our field of
            work. For example we collect and sell a lot of these paintings and also show them on our website for you.</h3>
          <p data-aos="fade-left" data-aos-delay="200">"Invest in the work and career of artists who can impact the future of our society"</p>
          <p>
            <a href="#" class="link-fancy link-dark" data-aos="fade-left" data-aos-delay="400">Learn more
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="py-vh-5 w-100 overflow-hidden" id="numbers">
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-lg-5">
          <h3 class="py-5 border-top border-dark" data-aos="fade-right">Our clientelle won't lie - here are numbers</h3>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12">
              <h2 class="display-6 mb-5" data-aos="fade-down">Those are an important numbers for us. And every
                human in the world can help us make them bigger.</h2>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
              <div class="display-1 fw-bold py-4">73%</div>
              <p class="text-black-50">This is a percentage of our new
                clientelle every month. We're gettin' popular. No cap.</p>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
              <div class="display-1 fw-bold py-4">+700</div>
              <p class="text-black-50">This is an average amount of orders on our site
                every month. We're very grateful to everyone, who always support and follow us.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="position-relative overflow-hidden w-100 bg-light" id="gallery">
    <div class="container-fluid">
      <div class="row overflow-scroll">
        <div class="col-12">
          <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">
            <div class="col-md-2" data-aos="fade-up">
              <img src="assets/img/webp/sakurapaint.webp" class="rounded shadow img-fluid" alt="nice gallery image"
                width="512" height="341">
            </div>

            <div class="col-md-2" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/webp/kartina4.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="1164"
                height="776">
            </div>

            <div class="col-md-2" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/kartina3.jpg" class="img-fluid rounded shadow" alt="nice gallery image" width="844"
                height="1054">
            </div>

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
              <img src="assets/img/gori.jpg" class="img-fluid rounded shadow" alt="nice gallery image"
                width="844" height="562">
            </div>

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="800">
              <img src="assets/img/kartina1.jpg" class="rounded shadow img-fluid" alt="nice gallery image" width="512"
                height="341">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container py-vh-4 w-100 overflow-hidden">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-5">
        <h3 class="py-5 border-top border-dark" data-aos="fade-right">What our executive officer says</h3>
      </div>
      <div class="col-md-7" data-aos="fade-left">
        <blockquote>
          <div class="fs-4 my-3 fw-light pt-4 border-bottom pb-3">“I'm the CEO of this gallery. So you may think
            "he will tell us something awesome about his business", but no. It's a really strange place to work at, with 
             a lot of talanted people all around.
            They do some painting stuff, but I don't understand it. 
            And still - everyone's welcome to our office in Japan.”</div>
          <img src="assets/img/Accelerator.jpg" width="64" height="64" class="img-fluid rounded-circle me-3" alt=""
            data-aos="fade">
          <span><span class="fw-bold">Vladyslav Ihnatchenko,</span>
            CEO of Sylvian</span>
        </blockquote>
      </div>

    </div>
  </div>



  <div class="bg-light w-100 overflow-hidden" id="testimonials">
    <div class="container py-vh-6">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 text-center">
          <h2 class="display-6">Loved by art connoisseurs all around the globe</h2>
          <p class="lead">Our galleries and offices are sooooo beautiful, no one would never give us a negative rating!</p>
        </div>
        <div class="col-12 mt-4">
          <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">

            <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-right">
              <div class="card p-4 mt-3 border-0">
                <div class="card-body">
                  <div class="text-dark py-2 fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                </div>
                  <blockquote class="blockquote">
                    <p>"A diverse range of art that captures the essence of modern creativity."</p>
                  </blockquote>
                  <div class="d-flex justify-content-between border-top pt-3">
                    <div>
                      <span class="h6 fw-5">GalleryGuru</span><br>
                      <small class="text-muted">Art critic, blogger</small>
                    </div>
                    <img src="assets/img/glassesded.jpg" width="48" height="48" class="rounded-circle" alt=""
                      data-aos="fade">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card p-4 shadow mt-3 border-0" data-aos="fade-down">
                <div class="card-body">
                  <div class="text-dark py-2 fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star" viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </div>
                  <blockquote class="blockquote">
                    <p>"Colors and emotions blend perfectly here.  
                      It's a delightful experience for anyone who appreciates the finer things in life."</p>
                  </blockquote>
                  <div class="d-flex justify-content-between border-top pt-3">
                    <p class="card-text">
                      <span class="h6 fw-5">KaleidoQueen</span><br>
                      <small class="text-muted">Creative mind, color lover</small>
                    </p>
                    <img src="assets/img/womanvesnushki.jpg" width="48" height="48" class="rounded-circle" alt=""
                      data-aos="fade">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card p-4 mt-3 border-0" data-aos="fade-left">
                <div class="card-body">
                  <div class="text-dark py-2 fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-half" viewBox="0 0 16 16">
                    <path
                      d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                  </svg>
                </div>
                  <blockquote class="blockquote">
                    <p>"This gallery is a treasure trove of visual poetry. The curation is exquisite, and the range of emotions captured in each work is profound. 
                      It's a haven for art enthusiasts."</p>
                  </blockquote>
                  <div class="d-flex justify-content-between border-top pt-3">
                    <p class="card-text">
                      <span class="h6 fw-5">MysticBrush</span><br>
                      <small class="text-muted">Painter, magic seeker</small>
                    </p>
                    <img src="assets/img/webp/person8.webp" width="48" height="48" class="rounded-circle" alt=""
                      data-aos="fade">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card p-4 mt-3 border-0" data-aos="fade-right">
                <div class="card-body">
                  <div class="text-dark py-2 fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-half" viewBox="0 0 16 16">
                      <path
                        d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star" viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </div>
                  <blockquote class="blockquote">
                    <p>"Innovative and awe-inspiring, a digital delight! The use of modern techniques alongside traditional styles creates a unique fusion. 
                      This gallery is a testament to the future of art."</p>
                  </blockquote>
                  <div class="d-flex justify-content-between border-top pt-3">
                    <p class="card-text">
                      <span class="h6 fw-5">PixelPioneer</span><br>
                      <small class="text-muted">Tech artist, futurist</small>
                    </p>
                    <img src="assets/img/webp/person14.webp" width="48" height="48" class="rounded-circle" alt=""
                      data-aos="fade">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card p-4 mt-3 border-0" data-aos="fade-up">
                <div class="card-body">
                  <div class="text-dark py-2 fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-half" viewBox="0 0 16 16">
                      <path
                        d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                    </svg>
                  </div>
                  <blockquote class="blockquote">
                    <p>"Every artwork tells a unique and captivating story. The attention to detail and the artist's passion shine through in every piece. 
                      It's a place where imagination knows no bounds."</p>
                  </blockquote>
                  <div class="d-flex justify-content-between border-top pt-3">
                    <p class="card-text">
                      <span class="h6 fw-5">CanvasCatcher</span><br>
                      <small class="text-muted">Storyteller, art chaser</small>
                    </p>
                    <img src="assets/img/webp/person10.webp" width="48" height="48" class="rounded-circle" alt=""
                      data-aos="fade">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card p-4 shadow mt-3 border-0" data-aos="fade-left">
                <div class="card-body">
                  <div class="text-dark py-2 fs-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-star-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                  </div>
                  <blockquote class="blockquote">
                    <p>"An incredible platform for discovering new and exciting artists"</p>
                  </blockquote>
                  <div class="d-flex justify-content-between border-top pt-3">
                    <p class="card-text">
                      <span class="h6 fw-5">ArtСonnoisseur736</span><br>
                      <small class="text-muted">Art lover, explorer</small>
                    </p>
                    <img src="assets/img/canadichman.jpg" width="48" height="48" class="rounded-circle" alt=""
                      data-aos="fade">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="small py-vh-3 w-100 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
          <div class="d-flex">
            <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                class="bi bi-box-seam" viewbox="0 0 16 16">
                <path
                  d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
              </svg>
            </div>
            <div class="col-md-9 flex-fill">
              <h3 class="h5 my-2">Shipping Services</h3>
              <p> Sylvian works with carriers including FedEx, DHL, and UPS, as well as several fine art handling companies. 
                The carrier selected for your purchase is dependent on the item’s origin and shipping destination, 
                as well as its packaging and handling requirements.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
          <div class="d-flex">
            <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                class="bi bi-card-checklist" viewbox="0 0 16 16">
                <path
                  d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                <path
                  d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
              </svg>
            </div>
            <div class="col-md-9 flex-fill">
              <h3 class="h5 my-2">Only exclusives</h3>
              <p>All Items displayed on the Site are offered for sale subject to availability. 
                Some Items displayed on the Site are unique and are offered by Sellers that usually have retail opportunities for the sale of the Item independent from Sylvian,
                 and therefore some Items may no longer be available. </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
          <div class="d-flex">
            <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
                class="bi bi-window-sidebar" viewbox="0 0 16 16">
                <path
                  d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                <path
                  d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z" />
              </svg>
            </div>
            <div class="col-md-9 flex-fill">
              <h3 class="h5 my-2">Online Support</h3>
              <p>We're currently in progress with making online support form. Fill it out on our mail and the content will be mailed back to you as
                PDF. Print it out or whatever.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</main>

<footer>
  <div class="container small border-top">
    <div class="row py-5 d-flex justify-content-between">

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-nintendo-switch" viewBox="0 0 16 16">
          <path d="M9.34 8.005c0-4.38.01-7.972.023-7.982C9.373.01 10.036 0 10.831 0c1.153 0 1.51.01 1.743.05 1.73.298 3.045 1.6 3.373 3.326.046.242.053.809.053 4.61 0 4.06.005 4.537-.123 4.976-.022.076-.048.15-.08.242a4.14 4.14 0 0 1-3.426 2.767c-.317.033-2.889.046-2.978.013-.05-.02-.053-.752-.053-7.979m4.675.269a1.62 1.62 0 0 0-1.113-1.034 1.61 1.61 0 0 0-1.938 1.073 1.9 1.9 0 0 0-.014.935 1.63 1.63 0 0 0 1.952 1.107c.51-.136.908-.504 1.11-1.028.11-.285.113-.742.003-1.053M3.71 3.317c-.208.04-.526.199-.695.348-.348.301-.52.729-.494 1.232.013.262.03.332.136.544.155.321.39.556.712.715.222.11.278.123.567.133.261.01.354 0 .53-.06.719-.242 1.153-.94 1.03-1.656-.142-.852-.95-1.422-1.786-1.256"/>
          <path d="M3.425.053a4.14 4.14 0 0 0-3.28 3.015C0 3.628-.01 3.956.005 8.3c.01 3.99.014 4.082.08 4.39.368 1.66 1.548 2.844 3.224 3.235.22.05.497.06 2.29.07 1.856.012 2.048.009 2.097-.04.05-.05.053-.69.053-7.94 0-5.374-.01-7.906-.033-7.952-.033-.06-.09-.063-2.03-.06-1.578.004-2.052.014-2.26.05Zm3 14.665-1.35-.016c-1.242-.013-1.375-.02-1.623-.083a2.81 2.81 0 0 1-2.08-2.167c-.074-.335-.074-8.579-.004-8.907a2.85 2.85 0 0 1 1.716-2.05c.438-.176.64-.196 2.058-.2l1.282-.003v13.426Z"/>
        </svg>
        <address class="text-secondary mt-3">
          <strong>Sylvian</strong><br>
          1337 Akihabara St, Estate 573<br>
          Tokyo, JP 73017<br>
          <abbr title="Phone">P:</abbr>
          (123) 4567-890
        </address>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Top Categories</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" aria-current="page" href="#">Paintings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" routerLink="/404" routerLinkActive="active">Photography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" routerLink="/404" routerLinkActive="active">Sculpture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Drawings</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">About us</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" aria-current="page" routerLink="/404" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" routerLink="/404" routerLinkActive="active">Press</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" routerLink="/404" routerLinkActive="active">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="#">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 p-5">
        <h3 class="h6 mb-3">Subpages</h3>
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" aria-current="page" routerLink="/404" routerLinkActive="active">404 System Page</a>
            <a class="nav-link link-secondary ps-0" aria-current="page" routerLink="/form" routerLinkActive="active">Register System Page</a>
            <a class="nav-link link-secondary ps-0" aria-current="page"  href="#">Return to beginning</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center py-3 small">Made by Vladyslav Ihnatchenko
  </div>
</footer>
